*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}
input[type='number']::-webkit-inner-spin-button{
    appearance: none;
    display: none;
}
#container-principal{
    max-width: 1000px;
    display: flex;
}
.container-controls,
.container-box{
    flex: 1;
    padding: 2rem;
}
/* controles----------------------------------- */
.container-controls{
    display: flex;
    flex-direction: column;
}
.container-controls h2{
    
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.container-control{
    display: flex;
    border-top: 1px solid #d1d1d1;
    padding: 1rem 0rem;
    gap: 1rem;
    
}
.container-control input[type='number']{
width: 50px;
height: 30px;
text-align: center;
padding: 0.8rem;
}
.container-input label{
    font-weight: 400;
}
.visualizacao{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

input[type='range']{
    background: linear-gradient(to right,#9bf011  0%, #82CFD0 50%,
    #fff 40%, #fff 100%);
    appearance: none;
    background: linear-gradient(to right , );
    border: 2px solid #9bf011;
    border-radius: 1rem;
    width: 100%;
    height: 15px;
    transition: background 450ms ease-in;
    margin-top: 0.7rem;
    
    
}
input[type='range']::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    background-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* container-visualização----------------------------------- */
.container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.container-box h2{
    text-align: center;
    margin-bottom: 2rem;
    
}
.box{
    width:80%;
 
    height: 200px;
    background-color: rgb(155, 240, 17);
    border-radius: 0.6rem;
    margin-bottom:1rem;
    
    box-shadow: #000000 50px 50px 50px 50px;
-webkit-box-shadow: #000000 50px 50px 50px 50px;
-ms-box-shadow: #000000 50px 50px 50px 50px;
}
.container-rules{
    width: 100%;
    margin-top: 8rem;
    padding: 1rem;
    border: 2px solid #d1d1d1;
    background-color: #fff;
    border-radius: 0.6rem;
    
}
#iColorBox,
#iColorShadow{
    margin-top: 0.7rem;
}

.visualizacao input[type="text"]{
    
    height: 35px;
    text-align: center;
    padding: 0.8rem;
}



@media(max-width: 425px){
    body{
        overflow-x: hidden;
    }
  #container-principal{
        flex-direction: column;
    }
    .container-controls,
.container-box{
    flex: 1;
    padding: 1rem 2rem;
}
    .container-control{
        padding: 0.7rem auto;
    }
  
    .container-rules{
    margin: 4rem;

    }

}